{
    "__meta__": {
        "Name": "Engine",
        "Version": "0.1.0",
        "Generator": "Engine"
    },
    "AppInfo": {
        "Name": "PyroEngine",
        "Version": "0.1.0",
        "BuildNumber": "",
        "Developer": "wqcui",
        "Copyright": ""
    },
    "Worlds": [
        {
            "Name" : "Sandbox",
            "Url" : "World/Sandbox.world",
            "IsMain": true
        }
    ]
}