{
    "Window": {
        "Title": "Engine Main Window",
        "Width": 1080,
        "Height": 720,
        "PositionX": 100,
        "PositionY": 100,
        "Opacity": 1.0,
        "IsVSync": false,
        "IsDisplayTaskbar": true,
        "IsTopmost": false,
        "IsVisible": true,
        "IsAcceptInput": true,
        "IsHasResizeBorder": true,
        "IsSupportDragFile": false,
        "IsHasTitlebar": true
    },
    "Frame": {
        "Mode": "Fixed",
        "FPS": 60
    }
}